---
import Duck from '../../components/duck/Duck.astro'
import Highlight from '../../components/misc/highlight.astro'
import TextH1 from '../../components/text/text-h1.astro'
import TextH3 from '../../components/text/text-h3.astro'
import TextParagraph from '../../components/text/text-paragraph.astro'
import Marquee from './marquee.astro'
---

<div
  id="bg"
  class="full-width content-grid mx-auto flex min-h-[35rem] w-full max-w-[1500px] items-center bg-gray-100 py-6 opacity-0 motion-safe:animate-fade-in dark:bg-[#6666] md:my-16 md:rounded-md md:py-20"
>
  <section id="hero" class="flex flex-col-reverse items-center justify-between gap-5 md:flex-row md:gap-4">
    <div class="flex w-full flex-col-reverse items-center justify-center gap-4 sm:justify-between md:flex-row">
      <div class="flex w-full flex-col gap-3">
        <TextH1>Guilherme Lopes</TextH1>
        <TextH3>
          Detail-driven & people-focused <b class="relative inline-block">
            <Highlight>software developer</Highlight>
          </b>
        </TextH3>
        <div class="max-w-2xl">
          <TextParagraph>
            Experienced software developer capable of working and exploring frontend and backend. Passionate about
            web accessibility, design systems, and creating seamless user experiences
          </TextParagraph>
        </div>
      </div>
      <div
        class="relative mt-10 h-full w-[15rem] items-center justify-center sm:mb-0 md:grid md:w-[40%] md:grid-cols-1"
      >
        <Duck />
      </div>
    </div>
  </section>
</div>
<Marquee />
