<style>
  :root {
    --size: clamp(10rem, 1rem + 40vmin, 30rem);
    --gap: calc(var(--size) / 17);
    --duration: 60s;
    --scroll-start: 0;
    --scroll-end: calc(-100% - var(--gap));
  }

  .marquee {
    display: flex;
    overflow: hidden;
    gap: var(--gap);
    mask-image: linear-gradient(
      var(--mask-direction, to right),
      hsl(0 0% 0% / 0),
      hsl(0 0% 0% / 1) 20%,
      hsl(0 0% 0% / 1) 80%,
      hsl(0 0% 0% / 0)
    );
  }

  .marquee__group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: var(--gap);
    animation: scroll-x var(--duration) linear infinite;
  }

  @media (prefers-reduced-motion: reduce) {
    .marquee__group {
      animation-play-state: paused;
    }
  }

  @keyframes scroll-x {
    from {
      transform: translateX(var(--scroll-start));
    }
    to {
      transform: translateX(var(--scroll-end));
    }
  }

  .marquee-item {
    display: grid;
    font-size: 4rem;
    font-weight: bold;
    flex-wrap: nowrap;
    text-align: center;
    letter-spacing: -0.05em;
  }

  @media (max-width: 768px) {
    .marquee-item {
      font-size: 2rem;
    }
  }
</style>

<div class="marquee overflow-hidden">
  <div class="marquee__group">
    <div class="marquee-item text-color opacity-50">CREATE SOMETHING</div>
    <div class="marquee-item opacity-25 dark:text-[#666] dark:opacity-50">CREATE SOMETHING</div>
    <div class="marquee-item text-color opacity-50">CREATE SOMETHING</div>
    <div class="marquee-item opacity-25 dark:text-[#666] dark:opacity-50">CREATE SOMETHING</div>
    <div class="marquee-item text-color opacity-50">CREATE SOMETHING</div>
    <div class="marquee-item opacity-25 dark:text-[#666] dark:opacity-50">CREATE SOMETHING</div>
    <div class="marquee-item text-color opacity-50">CREATE SOMETHING</div>
    <div class="marquee-item opacity-25 dark:text-[#666] dark:opacity-50">CREATE SOMETHING</div>
  </div>
  <div aria-hidden="true" class="marquee__group flex flex-row-reverse">
    <div class="marquee-item opacity-25 dark:text-[#666] dark:opacity-50">CREATE SOMETHING</div>
    <div class="marquee-item text-color opacity-50">CREATE SOMETHING</div>
    <div class="marquee-item opacity-25 dark:text-[#666] dark:opacity-50">CREATE SOMETHING</div>
    <div class="marquee-item text-color opacity-50">CREATE SOMETHING</div>
    <div class="marquee-item opacity-25 dark:text-[#666] dark:opacity-50">CREATE SOMETHING</div>
    <div class="marquee-item text-color opacity-50">CREATE SOMETHING</div>
    <div class="marquee-item opacity-25 dark:text-[#666] dark:opacity-50">CREATE SOMETHING</div>
    <div class="marquee-item text-color opacity-50">CREATE SOMETHING</div>
  </div>
</div>
