---
import Divider from '../../components/misc/divider.astro'
import TextH3 from '../../components/text/text-h3.astro'
import TextParagraph from '../../components/text/text-paragraph.astro'
---

<section class="flex w-full flex-col py-5">
  <div class="mb-4 flex flex-col">
    <TextH3 bold>Projects</TextH3>
    <TextParagraph>Building in the spare time, <span class="underline">see more</span></TextParagraph>
  </div>
  <div class="flex max-w-2xl flex-col gap-3">
    <TextParagraph>
      Below is a brief overview of my most recent projects, showcasing my skills in various technologies,
      frameworks, and development practices
    </TextParagraph>
    <section class="flex flex-col gap-3 py-5">
      <div>
        <TextParagraph bold>RU Menu</TextParagraph>
        <TextParagraph>
          A Java based web scraper that retrieves the daily menu from the UFPR University Restaurant and sends it
          to users via WhatsApp
        </TextParagraph>
      </div>
      <Divider />
      <div>
        <TextParagraph bold>Gnose</TextParagraph>
        <TextParagraph>
          A fullstack application that uses AI to moderate and correct quotes from users, making it possible to
          search and display all
        </TextParagraph>
      </div>
      <Divider />
      <div>
        <TextParagraph bold>Linka</TextParagraph>
        <TextParagraph>
          A fullstack apllication that uses the simplicity of Go to structure and provide a place where people can
          store and share their favorite links
        </TextParagraph>
      </div>
    </section>
  </div>
</section>
