<div class="canvas-container bg-primary relative z-20 h-[15rem] max-h-[20rem] w-full rounded-md xl:h-[20rem]">
  <canvas id="duck" class="absolute inset-0 h-full w-full"></canvas>
  <div id="loader" class="loader"></div>
</div>
<script src="./main.js"></script>
