<div class="canvas-container bg-primary relative z-20 h-[12rem] max-h-[20rem] w-full rounded-md md:h-[18rem]">
  <canvas id="duck" class="absolute left-14 h-full w-full"></canvas>
  <div id="loader" class="loader"></div>
</div>
<script src="./main.js"></script>
