<div class="relative z-20 mx-auto h-[12rem] w-[15rem] rounded-md">
  <canvas id="duck" class="absolute inset-0 h-full w-full"></canvas>
  <div id="loader" class="loader"></div>
</div>
<script src="../../utils/main.js"></script>
