.copy-code {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #3f3f46;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  line-height: 1rem;
  border-radius: 0.25rem;
  color: white;
}

.copy-code:hover {
  opacity: 75%;
}
