canvas {
  opacity: 0;
  animation: fadeUpAnimation 1.5s ease forwards;
}

#loader {
  width: 40px;
  height: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  top: 42%;
  position: absolute;
  background:
    radial-gradient(farthest-side, theme('colors.color') 94%, #0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%, theme('colors.color'));
  -webkit-mask: radial-gradient(farthest-side, #3256f900 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  #loader {
    background:
      radial-gradient(farthest-side, theme('colors.color-dark') 94%, #0000) top/8px 8px no-repeat,
      conic-gradient(#0000 30%, theme('colors.color-dark'));
  }
}

@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}

.canvas-container {
  position: relative;
  display: flex;
  justify-content: center;
}

canvas {
  width: 100% !important;
  display: flex;
  justify-content: center;
  display: block;
  height: 100% !important;
}

#loader.fade-out {
  opacity: 0;
  display: none;
}

@media (max-width: 767px) {
  .fade-down {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
  }

  .fade-down.visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@keyframes spinAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeUpAnimation {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeDownAnimation {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
