@font-face {
  font-family: 'Geist';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/geist-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist';
  font-weight: 700;
  font-style: bold;
  src: url('/fonts/geist-bold.woff2') format('woff2');
}

html {
  font-family: 'Geist';
  color: #474747;
  overflow-y: scroll;
}

html.dark header,
html.dark body {
  background-color: rgb(0, 0, 0);
  color: white;
}
