---
import ThemeIcon from './theme-icon.astro'
const { current } = Astro.props
---

<header
  class="fixed inset-x-0 z-50 mx-auto flex h-[3rem] w-full justify-center py-8 transition-colors duration-300 ease-in-out"
>
  <nav class="z-20 flex w-full max-w-[1280px] items-center justify-between font-bold">
    <ul class="flex gap-6 text-base sm:text-lg">
      <li>
        <a class={current === 'guimox' ? 'text-color dark' : ''} href="/">Guimox</a>
      </li>
      <li>
        <a class={current === 'about' ? 'text-color dark' : ''} href="/about">About</a>
      </li>
      <li>
        <a class={current === 'blog' ? 'text-color dark' : ''} href="/blog">Projects</a>
      </li>
      <li>
        <a class={current === 'blog' ? 'text-color dark' : ''} href="/blog">Blog</a>
      </li>
    </ul>
    <ThemeIcon />
  </nav>
</header>
