---
interface Props {
  bold?: boolean
  white?: boolean
}

const { bold = false, white = false } = Astro.props
---

<p
  class={`tracking-tight text-justify text-base md:text-lg  ${bold ? 'font-bold' : ''} ${white ? 'text-white' : 'text-zinc-700'}`}
>
  <slot />
</p>
