---
import { Icon } from 'astro-icon/components'
import Paragraph from '../components/typo/paragraph.astro'
import Small from '../components/typo/small.astro'
import Title from '../components/typo/title.astro'
import ButtonLink from '../components/ui/button-link.astro'
import Layout from '../layout/layout.astro'

const title = 'Page Not Found | Guilherme Lopes'
const description = 'Oops! The page you were looking for does not exist.'
const canonical = 'https://guimox.dev/404'
const current = '404'
---

<Layout title={title} description={description} canonical={canonical} current={current}>
  <section class="flex w-full flex-col items-start gap-3 py-12 text-center md:gap-4">
    <div class="rounded text-3xl font-bold text-zinc-700 md:text-7xl dark:text-white">404</div>
    <Title>Page Not Found</Title>
    <Paragraph>The page you're looking for doesn't exist or may have been moved.</Paragraph>
    <ButtonLink href="/">
      <Icon name="mdi:home" />
      <Small>Home</Small>
    </ButtonLink>
  </section>
</Layout>

<script>
  const backButton = document.querySelector('#back-button')
  backButton?.addEventListener('click', () => {
    window.history.back()
  })
</script>
