---
import { Icon } from 'astro-icon/components'
import Paragraph from '../components/typo/paragraph.astro'
import Title from '../components/typo/title.astro'
import Layout from '../layout/layout.astro'
import Link from '../components/typo/link.astro'

const title = 'About | Guilherme Lopes'
const description = 'A little section to detail who I am and what I really like'
const canonical = 'https://guimox.dev/about'
const current = 'about'
---

<Layout title={title} description={description} canonical={canonical} current={current}>
  <section class="flex flex-col gap-4">
    <Title>A thing or two about me</Title>
    <Paragraph>
      I'm a software developer who loves <b>experimenting and learning new things</b>. Whether it's building
      frontend apps with frameworks like Next.js or Astro, managing backend systems with Springboot or diving into
      side projects with Go, I'm always looking for opportunities to create and improve.
    </Paragraph>
    <div class="my-2 rounded border p-5">
      <Paragraph>
        I enjoy trying a bit of everything, being designing user-friendly interfaces, working with backend logic or
        even exploring how to make infrastructure more efficient. Besides all these interests, <b
          >one thing I really focus on is simplicity.</b
        >
      </Paragraph>
    </div>
    <Paragraph>
      I like to lower the barriers to getting started and keeping things running smoothly. If it's trying out PoCs,
      designing on Figma or making architectural changes on an Excalidraw board, you can count me in. Also, working
      with CI/CD pipelines, GitHub Actions and setting up VPS environments has become much easier thanks to our
      beloved Docker.
    </Paragraph>
    <Paragraph>
      For me, it's all about turning ideas into something practical and sustainable while keeping the process fun.
      I keep some coding principles (KISS, YAGNI, SOLID, etc) close as I might need them.
    </Paragraph>
    <Paragraph>
      <b>I'm always up for learning</b>, building and seeing code come to life.
    </Paragraph>
  </section>
</Layout>
