---
import Exp1 from '../components/exp1.astro'
import Exp2 from '../components/exp2.astro'
import Rotate from '../components/rotate.astro'
import TextH1 from '../components/text/text-h1.astro'
import TextH3 from '../components/text/text-h3.astro'
import TextParagraph from '../components/text/text-paragraph.astro'
import Layout from '../layouts/layout.astro'
import Marquee from '../sections/home/marquee.astro'

const title = 'Guilherme Lopes | Software Developer'
const description = 'Homepage of my website, feel free to explore'
const canonical = 'https://guimox.dev'
const current = 'guimox'
---

<Layout title={title} description={description} canonical={canonical} current={current} noHead>
  <div class="mx-auto w-full px-4 md:px-8">
    <Exp1 />
  </div>
  <!-- <Exp2 />
  <Marquee />
  <div class="mx-auto flex w-full">
    <TextH1>You can except this from me</TextH1>
    <div class="grid w-full grid-cols-3 gap-4 bg-gray-100">
      <div class="flex flex-col gap-4">
        <div class="h-64 w-full translate-y-[-2rem] rounded bg-blue-500"></div>
        <div class="h-64 w-full translate-y-[-2rem] rounded bg-blue-400"></div>
      </div>
      <div class="flex flex-col gap-4">
        <div class="h-64 w-full rounded bg-green-500"></div>
        <div class="h-64 w-full rounded bg-green-400"></div>
      </div>
      <div class="flex flex-col gap-4">
        <div class="h-64 w-full translate-y-[-4rem] rounded bg-red-500"></div>
        <div class="h-64 w-full translate-y-[-4rem] rounded bg-red-400"></div>
      </div>
    </div>
  </div>
  <div class="w-1/2">
    <TextH1>Sometimes I win my impostor syndrome and write something</TextH1>
    <TextH3>You can find any kind of texts that you like</TextH3>
    <div class="h-[15rem] rounded-md bg-color text-white">You really need that JS of ours?</div>
  </div> -->
</Layout>
