---
import { Icon } from 'astro-icon/components'
import Link from '../components/typo/link.astro'
import Paragraph from '../components/typo/paragraph.astro'
import Title from '../components/typo/title.astro'
import Layout from '../layout/layout.astro'
import Small from '../components/typo/small.astro'
import Subtitle from '../components/typo/subtitle.astro'

const title = 'Guilherme Lopes | Software Developer'
const description = 'Homepage of my website, feel free to explore'
const canonical = 'https://guimox.dev'
const current = 'home'
---

<Layout
  title={title}
  description={description}
  canonical={canonical}
  current={current}
  ogImage="https://guimox.dev/og/index.png"
>
  <section class="flex flex-col gap-4">
    <Title>Guilherme Lopes</Title>
    <Paragraph>
      Experienced <b>software developer</b> capable of working on the frontend and backend. Interested about anything
      that is related to web (CI/CD, Docker, databases, frontend, backend and cool stuff). Passionate about the world
      web wide and its aspects.
    </Paragraph>
    <div class="flex gap-4">
      <Link href="https://github.com/guimox" target="_blank" aria-label="link to open my GitHub">
        <Icon name="mdi:github" class="rounded-full bg-gray-100 p-1 text-3xl text-zinc-700" />
        <Paragraph>Github</Paragraph>
      </Link>
      <Link href="https://www.linkedin.com/in/guimox" target="_blank" aria-label="link to open my LinkedIn">
        <Icon name="mdi:linkedin" class="rounded-full bg-gray-100 p-1 text-3xl text-zinc-700" />
        <Paragraph>LinkedIn</Paragraph>
      </Link>
    </div>
  </section>
  <!-- <section class="flex flex-col gap-5">
    <Subtitle>Projects</Subtitle>
    <div class="flex flex-col gap-2">
      <Paragraph bold>RU Menu</Paragraph>
      <Paragraph>
        Serverless app that sends the formatted menu everyday to multiple students in a public university
      </Paragraph>
      <div class="flex gap-3">
        <div class="rounded-sm px-2 py-1 text-sm transition-colors duration-150 ease-in-out">
          <Small>DAU 3000</Small>
        </div>
        <div class="rounded-sm px-2 py-1 text-sm transition-colors duration-150 ease-in-out">
          <Small>AWS</Small>
        </div>
        <div class="rounded-sm px-2 py-1 text-sm transition-colors duration-150 ease-in-out">
          <Small>TypeScript</Small>
        </div>
        <div class="rounded-sm px-2 py-1 text-sm transition-colors duration-150 ease-in-out">
          <Small>Java</Small>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <Paragraph bold>Espoti</Paragraph>
      <Paragraph>Project created to people share their favorite songs one to another person</Paragraph>
      <div class="flex gap-3">
        <div class="rounded-sm px-2 py-1 text-sm transition-colors duration-150 ease-in-out">
          <Small>NextJS</Small>
        </div>
        <div class="rounded-sm px-2 py-1 text-sm transition-colors duration-150 ease-in-out">
          <Small>Supabase</Small>
        </div>
        <div class="rounded-sm px-2 py-1 text-sm transition-colors duration-150 ease-in-out">
          <Small>TypeScript</Small>
        </div>
        <div class="rounded-sm px-2 py-1 text-sm transition-colors duration-150 ease-in-out">
          <Small>Java</Small>
        </div>
      </div></div> -->
</Layout>
