---
import { Icon } from 'astro-icon/components'
---

<footer class="mx-auto mt-20 flex h-[3rem] w-full max-w-[1580px] items-center justify-between px-2 py-8 sm:px-4">
  <p id="year" class="flex w-full items-center gap-2 text-start text-sm">
    Simplicity is <Icon name="mdi:key" class="text-color" />
  </p>
  <div class="flex w-fit justify-end gap-3">
    <a href="https://github.com/gxlpes" target="_blank" aria-label="link to open my GitHub">
      <Icon name="mdi:github" class="cursor-pointer text-3xl transition-all duration-300 hover:opacity-50" />
    </a>
    <a href="https://www.linkedin.com/in/gxlpes" target="_blank" aria-label="link to open my LinkedIn">
      <Icon name="mdi:linkedin" class="cursor-pointer text-3xl transition-all duration-300 hover:opacity-50" />
    </a>
  </div>
</footer>
