<button
  class="focus-visible:ring-ring inline-flex h-9 items-center justify-center gap-2 whitespace-nowrap rounded-sm bg-black bg-color px-4 text-sm font-medium text-white transition-colors hover:opacity-75 focus-visible:outline-none focus-visible:ring-1 disabled:pointer-events-none disabled:opacity-50"
  ><slot />
</button>
