---
import TextH1 from './text/text-h1.astro'
import TextH3 from './text/text-h3.astro'
---

<div class="group flex flex-col justify-between gap-4 py-20">
  <div class="mx-4 flex justify-center gap-8 py-20">
    <TextH1>Who is Guilherm<span class="text-white">e?</span></TextH1>
  </div>
  <div class="flex h-full items-start justify-between gap-3">
    <div class="mx-40 flex w-1/2 flex-col gap-10">
      <TextH3>
        With a strong desire to deliver the best result possible, I demonstrate my habilities with teamwork and
        maintainable code.
      </TextH3>
      <TextH3>
        Outside of coding, I enjoy staying up-to-date with the latest trends in technology and exploring new tools
        and frameworks. As I'm dedicated to continuous learning, always seeking ways to enhance my skills.
      </TextH3>
      <TextH3><b>I really like to learn.</b></TextH3>
    </div>
    <div class="flex flex-col">
      <div
        class="-z-20 h-[20rem] w-[20rem] -translate-x-80 -translate-y-60 rounded-md bg-color-dark transition-all duration-300"
      >
      </div>
      <div
        class="-z-20 h-[10rem] w-[10rem] -translate-x-[2rem] -translate-y-[20rem] overflow-hidden rounded-md bg-color text-center font-medium text-white text-opacity-30 transition-all duration-300"
      >
      </div>
    </div>
  </div>
</div>
