---
const { current } = Astro.props
const styleActive = 'font-bold text-color'
---

<nav class="flex justify-between pt-5">
  <ul class="flex gap-4 text-base tracking-tight md:text-lg">
    <li class={`hover:opacity-75 ${current == 'home' ? styleActive : ''}`}>
      <a href="/"> Home</a>
    </li>
    <li class={`hover:opacity-75 ${current == 'about' ? styleActive : ''}`}>
      <a href="/about">About</a>
    </li>
    <!-- <li class={`${current == 'projects' ? styleActive : ''}`}>
      <a href="/projects">Projects</a>
    </li> -->
    <li class={`hover:opacity-75 ${current == 'blog' ? styleActive : ''}`}>
      <a href="/blog">Blog</a>
    </li>
  </ul>
</nav>
